@import '@/css/shadowDOM-reset.scss';
:host {
  display: block;
  // background-color: red;
  // padding: 20px;
}
#rxjs-marbles-main {
  border: 1px solid #33333333;
  width: 900px;
  display: block;
  background-color: white;
  border-radius: 12px;
  position: relative;
  padding-top: 8px;

  .rxjs-marbles__circle {
    stroke: #666;
    stroke-width:1px;
  }
  .rxjs-marbles__name-wrap {
    position: absolute;
    top: 0;
    display: flex;
  }
  .rxjs-marbles__name {
    font-size: 15px;
    border-radius: 12px 0;
    padding: 2px 8px;
    border: 2px solid #33333333;
    border-top-color: transparent;
    border-left-color: transparent;
    background-color: #2c3e50;
    color: white;
  }
  .rxjs-marbles__description {
    font-size: 15px;
    color: black;
    padding: 2px 0 10px 20px;
  }
  svg {
    text {
      fill: black;
      font-size: 13px;
      text-align: center;
      letter-spacing: -1px;
    }
    .rxjs-marbles__circle {
      animation: fadeIn 0.2s ease-in-out;
    }
    .rxjs-marbles__line { // line
      stroke: black;
      stroke-width: 2px;
      &.rxjs-marbles__line--background {
        stroke: rgba(0, 0, 0, 0.2);
      }
      &.rxjs-marbles__line-gap {
        stroke: rgba(0, 0, 0, 0.2);
        stroke-dasharray: 5;
      }
      &.rxjs-marbles__line-complete {
        stroke-width: 3;
        display: none;
      }
    }
    .rxjs-marbles__arrow {
      fill: rgba(0, 0, 0, 0.2);
    }
    .rxjs-marbles__line-error {
      stroke: #e74c3c;
      stroke-width: 2;
      display: none;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}